<%- include('partials/header.ejs') %>

  <div class="card">
    <div class="card-header text-center">
      <h2>Add Title</h2>
    </div>
    <div class="card-body">
      <form action="/add" method="post">
        <div class="row mb-3">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title">
          </div>
        </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">+</button>
      <a href="/" class="btn btn-warning">reset</a> <!-- nanti memakai fontAwesome  -->
      </form>
    </div>
    <%- include('partials/footer.ejs') %>