<%- include('partials/header.ejs') %>
    <div class="card">
        <div class="card-header text-center">
            <h1>Please Sign Up</h1>
        </div>
        <div class="card-body">
            <form action="/register" method="post">
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="example@gmail.com">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="password">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="retype" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="retype" name="retype"
                            placeholder="Retype Password">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <p>have an account? please <a href="/">Sign In</a>!</p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>