<%- include('partials/header.ejs') %>

    <div class="container d-flex flex-column align-items-center">
        <img src="/avatars/rubicamp.png" alt="Rubicamp Logo" class="logo" accept="/*">
        <div class="card">
            <div class="card-header text-center">
                <h3>Please Sign Up</h3>
            </div>
            <div class="card-body">
                <form action="/register" method="post">
                    <div class="row mb-2">
                        <label for="email" class="col-sm-2 col-form-label"></label>
                        <div class="col-auto">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="password" class="col-sm-2 col-form-label"></label>
                        <div class="col-auto">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="password" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="retype" class="col-sm-2 col-form-label"></label>
                        <div class="col-auto">
                            <input type="password" class="form-control" id="retype" name="retype"
                                placeholder="Retype Password" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>have an account? please <a href="/">Sign In</a>!</p>
                <%- include('partials/alert') %>
            </div>
        </div>
        <footer class="text-center mt-4">
            <p>© 2017–2024</p>
        </footer>
    </div>
    <%- include('partials/footer.ejs') %>